= stylesheet_link_tag("style_interface")
%h1
  Connection Square
  
  = javascript_include_tag("date")
  .row
    .col-md-3
            
      / Left column
            
      %a{href: "#"}>
        %strong
          %i.glyphicon.glyphicon-wrench
            
      %hr/
            
            
      %ul.list-unstyled
                
        %li.nav-header
          %a{"data-target" => "#userMenu", "data-toggle" => "collapse", href: "#"}
                      
            %h5
              Profile
              %i.glyphicon.glyphicon-chevron-down
                      
                      
          %ul#userMenu.list-unstyled.collapse.in
                            
            %li.active
              %a{href: "#"}
                %i.glyphicon.glyphicon-home
                Home
                            
            %li
              %a{href: "#"}
                %i.glyphicon.glyphicon-envelope
                Messages
                %span.badge.badge-info 4
                            
            %li
              %a{href: "#"}
                %i.glyphicon.glyphicon-cog
                Options
                            
            %li
              %a{href: "#"}
                %i.glyphicon.glyphicon-comment
                Shoutbox
                        
                  
                
        %li.nav-header
          %a{"data-target" => "#menu2", "data-toggle" => "collapse", href: "#"}
                      
            %h5
              Reports
              %i.glyphicon.glyphicon-chevron-right
                      
                  
                      
          %ul#menu2.list-unstyled.collapse
                            
            %li
              %a{href: "#"} Information & Stats
                              
                            
            %li
              %a{href: "#"} Timetable
                              
                            
            %li
              %a{href: "#"} Alerts
                              
                        
                  
                
        %li.nav-header
                  
          %a{"data-target" => "#menu3", "data-toggle" => "collapse", href: "#"}
                      
            %h5
              Social Media
              %i.glyphicon.glyphicon-chevron-right
                      
                  
                      
          %ul#menu3.list-unstyled.collapse
                            
            %li
              %a{href: "#"}
                %i.glyphicon.glyphicon-circle
                Facebook
                            
            %li
              %a{href: "#"}
                %i.glyphicon.glyphicon-circle
                Twitter
            
      %hr/
            
            
      %a{href: "#"}>
        %strong
          %i.glyphicon.glyphicon-link
          Resources
        
            
            
      %hr/
            
            
      %ul.nav.nav-pills.nav-stacked
                
        %li.nav-header
                
        %li
          %a{href: "#"}
            %i.glyphicon.glyphicon-list
            Layouts & Templates
                
        %li
          %a{href: "#"}
            %i.glyphicon.glyphicon-briefcase
            Toolbox
                
        %li
          %a{href: "#"}
            %i.glyphicon.glyphicon-link
            Widgets
                
              
    .col-md-9
      %h2
        .message_inscription
          %p
            Bonjour le monde
      %hr/
            
      %ul.nav.nav-stacked
                
        %li.active
          %a{href: "http://bootply.com", target: "ext", title: "The Bootstrap Playground"} Playground

                
        %li
          %a{href: "/tagged/bootstrap-3"} Bootstrap 3
                
                
        %li
          %a{href: "/62603"} Layout
              
    .col-md-3
      #draggable.ui-widget-content
        %p Drag me to my target
      #droppable.ui-widget-header
        %p Drop here


            
