.my-container.narrow.josefin
  .row-fluid
    .span6
      %img{:src => "img1.png"}
    .span6
      %h1.big
        H²
        %h2.small
          Connects hackers and helpers in real time
.my-container.narrow.grey
  .row-fluid
    .span4.step.center
      %img{:src => "img2.png"}
        %h3 HACKERS
        %p Sign up during hackatons and find talented helpers to assist you on the way
    .span4.step.center
      %img{:src => "img3.png"}
        %h3 HELPERS
        %p Cant' attend hackaton but would love to help? Sign up and pick the projects that need your skills
    .span4.step.center
      %img{:src => "img0.png"}
        %h3 H2
        %p Connect and Create!
